{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>
        {% block title %}{% endblock %}
    </title>

	{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <!-- other links-->
	{% endblock %}
</head>

<body>
    <header>
		E-library
    </header>

    <div class="page_top">
        <label class="copyright">@E-Library</label>

        {% if user.is_authenticated %}
            <!--user is login, redirect to the account details-->
            <a href="">
                <img src="{% static 'images/user.jpg' %}" alt="Picture of User" id="user-icon"/>
            </a>
        {% else %}
            <!--user not login, redirect to login page-->
            <a href="{% url 'elib:login' %}">
                <img src="{% static 'images/user.jpg' %}" alt="Picture of User" id="user-icon"/>
            </a>
        {% endif %}

        <a href="{% url 'elib:contact_us' %}" id="contact-button">Contact Us</a>

        <form id="search-form" action="{% url 'elib:book_search' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="text" id="search" name="search" placeholder="Search book...">
            <button type="submit" id="search-button">Search</button>
        </form>
    </div>

    {% block content %}
        <!--other page's content-->
    {% endblock %}
    
</body>
</html>
