{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>
        {% block title %}{% endblock %}
    </title>

	{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
         <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- other links-->
	{% endblock %}
</head>

<body>
    <header>
		E-library
    </header>

    <div class="page_top">
        <a href="{% url 'elib:index' %}" ><label class="copyright">@E-Library</label></a>

        {% if user.is_authenticated %}
            <!--user is login, redirect to the personal page-->
            <a href="{% url 'elib:personal_page' %}">
                <img src="{% static 'images/user.jpg' %}" alt="Picture of User" id="user-icon"/>
            </a>
            <a href="{% url 'auth_logout' %}?next={% url 'elib:index' %}" id="logout" class="logout">Logout</a>

        {% else %}
            <!--user not login, redirect to login page-->
            <a href="{% url 'auth_login' %}">
                <img src="{% static 'images/user.jpg' %}" alt="Picture of User" id="user-icon"/>
            </a>
            <a href="{% url 'auth_login' %}" id="logout" class="logout">Login</a>
        {% endif %}

        <a href="{% url 'elib:contact_us' %}" id="contact-button">Contact Us</a>

        <form id="search-form" action="{% url 'elib:search' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="text" id="search" name="search" placeholder="Search book...">
            <button type="submit" id="search-button"><i class="fa fa-search fa-2x " aria-hidden="true"></i></button>
        </form>
    </div>

    <div class="recommends ">
        <ul class = "nav nav-tabs menu">
            <li><a href="{% url 'elib:recommends' %}?category=literature">Literature</a></li>
            <li><a href="{% url 'elib:recommends' %}?category=fiction">Fiction</a></li>
            <li><a href="{% url 'elib:recommends' %}?category=history">History</a></li>
            <li><a href="{% url 'elib:recommends' %}?category=business">Business</a></li>
            <li><a href="{% url 'elib:recommends' %}?category=comics">Comics</a></li>
            <li><a href="{% url 'elib:recommends' %}?category=science">Science</a></li>
            <li><a href="{% url 'elib:recommends' %}?category=social">Social</a></li>
        </ul>
    </div>

    {% block content %}
        <!--other page's content-->
    {% endblock %}
    
</body>
</html>
