{% extends 'app/base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}

        {% if books %}
            <div class="search-results">
                <h2>Search Results for "{{ query }}"</h2>
                <hr>

                {% for book in books %}
                    <div class="book-info">
                        <a href="{% url 'elib:book_details' book.bookid %}">
                        <div class="book-img">
                            <img src="{{ book.bookpic}}" alt="{{ book.title }}">
                        </div>
                    <div class="book-details">
                        <h3>{{ book.title }}</h3>
                        <p>{{ book.author }}</p>
                    {% if book.booknum > 0 %}
                        <p class="available">Available</p>
                    {% else %}
                        <p class="unavailable">Unavailable</p>
                    {% endif %}
                    </div>
                    </a>
                    </div><hr>
                {% endfor %}
            </div>

        {% else %}
            {% if query %}
            <div class="search-results">
                <h2>No results found for "{{ query }}".</h2>
            </div>
            {% endif %}
    {% endif %}

{% endblock %}