{% extends 'app/base.html' %}
{% load static %}

{% block title %}Borrowing History{% endblock %}

{% block link %}
    {{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/borrow_history.css' %}">
{% endblock %}

{% block content %}
    <main>
	    <h1>Borrowing History</h1>

	    <form>
		    <label for="user_id">UserID:</label>
		    <input type="text" id="user_id" name="user_id" required>
		    <button type="submit" id="query-button">Query</button>
	    </form>

        <hr>

        <h2>Query Result:</h2>
        <table>
		    <thead>
			    <tr>
				    <th>Username</th>
                    <th>Book ID</th>
				    <th>Book Title</th>
				    <th>Borrow Date</th>
				    <th>Return Date</th>
			    </tr>
		    </thead>

            <tbody id="result_table_body">
			    {% for record in records %}
                    <tr>
                    <td>{{ record.username }}</td>
                    <td>{{ record.book_id }}</td>
                    <td>{{ record.book_title }}</td>
                    <td>{{ record.borrow_date}}</td>
                    <td>{{ record.return_date }}</td>
                    </tr>
                {% endfor %}
		    </tbody>
	    </table>
    </main>
{% endblock %}
