<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Test</title>
</head>
<body>
<div>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'auth_logout' %}?next={% url 'app:index' %}">Logout</a></li>
            <li><a href="{% url 'auth_password_change' %}">Change your Password</a></li>
        {% else %}
            <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
            <li><a href="{% url 'auth_login' %}">Login</a></li>
        {% endif %}
    </ul>
</div>
<br/>


</body>
</html>