{% extends 'app/base.html' %}
{% load static %}

{% block title %}Personal Page{% endblock %}

{% block link %}
    {{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/personalPage.css' %}">
	<link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
	<script src="{% static 'js/bootstrap.js' %}" ></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
{% block content %}


<!--	<link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../../themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../demo.css">
	<script type="text/javascript" src="../../jquery.min.js"></script>
	<script type="text/javascript" src="../../jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/js/axios.js"></script>-->
<!--	<div class ="container" style =" height:100%">
		<div class ="row">
			<div class="col-md-2">
				<label class="copyright"><p1> @<small> E-Library</small></p1></label>
			</div>
			<div class="col-md-6 col-md-offset-1" >
				<input class="fo__content"  name="search" class ="input" placeholder="Search book...">
			</div>
			<div class="col-md-2 offset-md-3">
				<p>{{records.0.username}}</p>
			</div>
		</div>-->
		<div class ="row">
			<div class="col-md-8">
				<ul class = "nav nav-tabs">
					<li><a href="#">Literature</a></li>
					<li><a href="#">Fiction</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">Art</a></li>
					<li><a href="#">Business</a></li>
					<li><a href="#">Comics</a></li>
					<li><a href="#">Science</a></li>
					<li><a href="#">Social</a></li>
				</ul>
			</div>
			<hr />
<!--			<div class="col-md-2 col-md-offset-2">
				<button  class="fo__content" id ="Contact us"></button>
			</div>-->
			<hr />
		<div div class ="row">
			<div class="col-md-3">
				<img src ="{% static 'images/portrait.png' %}" style ="width:120px; height:120px;">
<!--			<img src="{% static 'images/user.jpg' %}" alt="Picture of User" class="user_icon"/>-->
			</div>
			<div class="col-md-3">
				<p1>{{records.0.username}}</p1>
				<p2>ID: {{records.0.user_id}}</p2>
			</div>
			<div class="col-md-3 col-md-offset-3">
				<p2>Date of creation: {{records.0.current}}</p2>
			</div>
		</div>

		<hr />
		<div>
			<h1>Books being borrowed</h1>
			{% for item in records%}
				<div class = "col-md-4">
					<div class = "thumbnail">
						<img src ="{{record.book_pic }}" style ="width:240px; height:360px;">
						<h3>{{item.book_name }}</h3>
						<p>Rent Time:{{item.rent_date}}</p>
						<p>Deadline:{{item.deadline}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	</div>
