{% extends 'app/base.html' %}
{% load static %}

{% block title %}Recommends{% endblock %}

{% block link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/recommends.css' %}">
{% endblock %}
{% block content %}

<div class="cats">
    <div class="container">
        {% for item in books %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{% url 'elib:book_details' item.book_id %}">
                        <img src="{{ item.book_pic }}">
                        <h3>{{ item.book_title }}</h3>
                    </a>
                    <p>author:{{ item.book_author }}</p>
                    <p>book for rent:{{ item.book_num }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}