body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.copyright{
    width: 171px;
    height: 34px;
    color: #444444;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.28;
    float: left;
}

div{
    margin-bottom: 10px;
    margin-top: 20px;
}

.page_top{
    height: 50px;
    text-align: center;
}

/*search input bar*/
#search {
    width: 500px;
    height: 40px;
    background: url("/static/images/search.jpg") no-repeat;
    text-indent: 40px;
    color: #c0c0c0;
    border-color: #c0c0c0;
    border-width: 2px;
    border-style: solid;
    border-radius: 21px 21px 21px 21px;
    font-weight: 400;
    font-size: 16px;
}

/*search button and query button*/
button[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #008cba;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/*contact us button*/
#contact-button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    margin-left: auto;
    float: right;
}

#user-icon {
    width: 48px;
    height: 48px;
    background: #444444;
    float: right;
}

#logout{
 	width: 100px;
	height: 23px;
	color: #444444;
	font-family: "Source Sans 3";
	font-weight: 600;
	font-size: 16px;
	text-align: center;
    float: right;
}