.input-label {
	width: 189px;
	height: 24px;
	color: #444444;
    font-family: "Source Sans 3", serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}

.heading-text {
	width: 120px;
	height: 50px;
	color: #444444;
	font-family: "Source Sans 3", serif;
	font-weight: 700;
	font-size: 38px;
	line-height: 1;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 20px;

}

.paragraph-text {
	width: 518px;
	height: 24px;
	color: #7a7a7a;
	font-family: "Source Sans 3", serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
}

.container {
	width: 519px;
	height: 396px;
	padding: 20px 20px 20px 20px;
	background: #ffffff;
	border-radius: 8px 8px 8px 8px;
	margin: 0 auto;
}

.form-control {
	width: 439px;
	height: 48px;
	padding: 0px 10px 0px 20px;
	background: #ffffff;
	color: #444444;
	border-color: #d6d6d6;
	/*border-width: 2px;*/
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3";
	font-weight: 500;
	font-size: 20px;
	text-align: left;
	margin-bottom: 20px;
}

.button {
	width: 477px;
	height: 50px;
	padding: 10px 10px 10px 10px;
	background: #444444;
	color: #ffffff;
	border-color: #444444;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px 4px 4px 4px;
	font-family: "Source Sans 3", serif;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}

.register-text {
	width: 134px;
	height: 24px;
	color: #7a7a7a;
	font-family: "Source Sans 3", serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.3;
	text-align: left;
}


