.cats .thumbnail {
    width: 350px;
    height: 500px;
    margin-right: 10px;

}

.cats .thumbnail img {
    width: 225px;
    height: 300px;
}

.col-md-3 {
    float: left;
    height: 80px;
    display: block;
    line-height: 80px;
    text-align: center;
    margin-top: 10px;
}

