.input-label {
    width: 189px;
    height: 24px;
    color: #444444;
    font-family: "Source Sans 3", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
}

.heading-text {
    width: 426px;
    height: 36px;
    color: #3b4754;
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin: 20px auto 40px;
}

.paragraph-text {
    width: 518px;
    height: 24px;
    color: #7a7a7a;
    font-family: "Source Sans 3", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
}

.paragraph-text-register {
    /*width: 518px;*/
    height: 24px;
    color: #7a7a7a;
    font-family: "Source Sans 3", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: left;
}

.container {
    width: 510px;
    height: 600px;
    padding: 20px 20px 20px 20px;
    background: #ffffff;
    border-radius: 8px 8px 8px 8px;
    margin: 0 auto;
}

.form-control-1 {
    width: 439px;
    height: 48px;
    padding: 0 10px 0 20px;
    background: #ffffff;
    color: #444444;
    border-color: #d6d6d6;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    font-family: "Source Sans 3", serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.form-control-2 {
    width: 439px;
    height: 48px;
    padding: 0 10px 0 20px;
    background: #ffffff;
    color: #444444;
    border-color: #d6d6d6;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    font-family: "Source Sans 3", serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.button-login {
    width: 475px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    background: #444444;
    color: #ffffff;
    border-color: #444444;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    font-family: "Source Sans 3", serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.button-register {
    width: 475px;
    height: 50px;
    padding: 10px 10px 10px 10px;
    background: #444444;
    color: #ffffff;
    border-color: #444444;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    font-family: "Source Sans 3", serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.register-text {
    width: 134px;
    height: 24px;
    color: #7a7a7a;
    font-family: "Source Sans 3", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
}

