{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/contactus.css' %}">
</head>

<body>
	<header>
		E-library
	</header>

	<main>
		<h1>Contact Us</h1>
		<div class="contact-info">
			<h2>Contact Information</h2>
			<ul>
				<li>Lujing Cai, 2790843C@student.gla.ac.uk</li>
                <li>Zhixian Qi, 2815122Q@student.gla.ac.uk</li>
                <li>Zhiheng Zhang, 2727457Z@student.gla.ac.uk</li>
                <li>Yuxi Wang, 2772785W@student.gla.ac.uk</li>
                <li>Bingcen Luo, 2709712L@student.gla.ac.uk</li>
			</ul>
		</div>
		<form class="contact-form" action="{% url 'elib:contact_us' %}" method="post">
			{% csrf_token %}
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>
			<label for="subject">Subject:</label>
			<input type="text" id="subject" name="subject" required>
			<label for="message">Message:</label>
			<textarea id="message" name="message" required></textarea>
			<button type="submit">Send</button>
		</form>
	</main>

    <div id="success-message" class="hidden">
        <p>Thank you for contacting us!</p>
    </div>

    <!--JS-->
    <script src="{% static 'js/contactus.js' %}"></script>

</body>
</html>
